@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
header h1.title,
header h3.desc{
  text-align: center;
}
body {
    width: 70%; 
    margin: auto;
}
a:link {
  color: red;
}
a:visited {
  color: red;
}
a:hover {
  color: red;
}
a:active {
  color: red;
}
#navigation {  
  padding: 15px;
}
p {
  font-size: 110%;
  font-weight: bold;
  color: teal;
}
#contents {
    float: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background: #ABD9FF;
  font-family:'cursive';
}
li {
  float: left;
  font-size: 19px;
}
li a {
  display: square;
  color: red;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 19px;
}
li a:hover {
  background-color: #fff;
}
footer {
  text-align: center;
  bottom: auto;
  position:fixed;
}
h3 {
  color:RED;
}
th{
  color: red;
}
a{
  font-size: 15px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}