header h1.title {
    color: paleturquoise;
    font-family:'Montserrat', sans-serif;;
}
header h3.desc{
  text-align: center;
}
body {
    width: 70%; 
    margin: auto;
}
a:link {
  color: red;
}
a:visited {
  color: red;
}
a:hover {
  color: rebeccapurple;
}
a:active {
  color: red;
}
#navigation {  
}
p {
  font-size: 110%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: teal;
}
#contents {
    float: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ABD9FF;
  font-family:'cursive';
}
li {
  float: left;
}
li a {
  display: square;
  color: cyan;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #fff;
}
footer {
  text-align: center;
  bottom: auto;
  position:fixed;
}